.ContentBanHangContainer {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto; 
  z-index: 1; 
}

.Content {
  flex: 1;

  overflow-y: auto;
}

.FooterBanHang {
  background-color: #f0f0f0;
  padding: 10px;
}
